<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.aimeizi.mapper.UserMapper">

	<!-- ehcache 缓存配置, 输出日志 http://www.mybatis.org/ehcache-cache/ -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id, username, birthday, sex, address
	</sql>

	<delete id="deleteAll">
		DELETE FROM USER
	</delete>

	<!-- 建议字段，采用驼峰命名方法，不然很麻烦 -->
	<select id="selectListRow" resultType="User">
		select
		<include refid="Base_Column_List"/>
		from user
	</select>

</mapper>